@model GamexProject.Models.ViewModels.Registration

@{
    Layout = null;
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="~/Content/RegistrationStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="background">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="registrationBox">
                <h2 id="heading">Registration</h2>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } }) <br />
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.UserFullName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserFullName, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.UserFullName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.CofirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.CofirmPassword, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.CofirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Wallet, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Wallet, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.Wallet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Register" class="btn btn-default" id="registrationButton"/>
                    </div>
                </div>
                <br />
                <div id="linkDiv">
                    @Html.ActionLink("Already Have an Account ? Login", "Login", "LoginUser")
                </div>
                <br />
                <div>
                    @ViewBag.Message
                </div>
            </div>
        }
    </div>


</body>
</html>
